{
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "wrap-iife": "off",
    "no-bitwise": "off",
    "no-continue": "off",
    "class-methods-use-this": "off",
    "no-await-in-loop": "off",
    "no-constant-condition": "off",
    "no-param-reassign": "off",
    "consistent-return": "off",
    "no-restricted-syntax": "off",
    "import/prefer-default-export": "off",
    "camelcase": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "overrides": [
    {
      "files": ["prelude/**/*"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "strict": "off"
      }
    }
  ]
}
