{
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "no-bitwise": "off",
    "no-continue": "off",
    "no-await-in-loop": "off",
    "no-constant-condition": "off",
    "no-param-reassign": "off",
    "consistent-return": "off",
    "no-restricted-syntax": "off",
    "import/prefer-default-export": "off",
    "camelcase": "off"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": [
        "airbnb-typescript/base",
        "plugin:@typescript-eslint/recommended",
        "prettier"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "consistent-return": "off",
        "import/prefer-default-export": "off",
        "no-await-in-loop": "off",
        "no-bitwise": "off",
        "no-constant-condition": "off",
        "no-continue": "off",
        "no-param-reassign": "off",
        "no-restricted-syntax": "off"
      }
    },
    {
      "files": ["prelude/**/*"],
      "rules": {
        "strict": "off"
      }
    },
    {
      "files": ["test/**/*"],
      "rules": {
        "array-callback-return": "off",
        "func-names": "off",
        "global-require": "off",
        "guard-for-in": "off",
        "import/extensions": "off",
        "import/no-dynamic-require": "off",
        "import/no-extraneous-dependencies": "off",
        "import/newline-after-import": "off",
        "import/no-unresolved": "off",
        "import/no-useless-path-segments": "off",
        "import/order": "off",
        "no-console": "off",
        "no-lonely-if": "off",
        "no-multi-assign": "off",
        "no-undef": "off",
        "no-else-return": "off",
        "no-use-before-define": "off",
        "object-shorthand": "off",
        "one-var": "off",
        "prefer-arrow-callback": "off",
        "prefer-destructuring": "off",
        "prefer-object-spread": "off",
        "prefer-template": "off",
        "strict": ["error", "global"]
      }
    }
  ]
}
