# build output
/lib-es5

# dependencies
/node_modules

# logs
npm-debug.log

# General macOS
.DS_Store
examples/.DS_Store

# Example pkg'd application
examples/express/express-example

# Example dependencies
examples/express/node_modules

# Editors
.vscode/
yarn-error.log
tsconfig.tsbuildinfo