name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false # prevent test to stop if one fails
      matrix:
        node-version: [14.x, 16.x, 18.x]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/cache@v3
        with:
          path: ~/.pkg-cache/
          key: ${{ matrix.os }}-${{ matrix.node-version }}

      - run: yarn install
      - if: matrix['node-version'] == '18.x' && matrix['os'] == 'ubuntu-latest'
        run: yarn lint
      - run: yarn build
      - run: yarn test
